body {
  background-color: #9375ca;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  font-family: Garamond, serif;
  color: #362b4a;
  height: 600px;
  width:auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 1em 2em;
  background: #362b4a;
  display: inline-block;
}

a:hover {
  background-color: #1e1829;
}

#content {
  border: solid 5px #7051ab;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 95%;
  height: auto;
  background-color: #c2b9d2;
  height: 550px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

#descriptions {
  max-width: 60rem;
  margin: 0 auto;
}

p {
  font-size: 1rem;
}
h2 {
  text-decoration: underline;
}
.gallery {
height: 120px;
width: auto;
padding: 10px;
position: relative;
top: 5px;
}

.gallery img {
  height: 100%;
  width: auto;
  border-bottom: solid 2px #362b4a;
  border-top: solid 2px #362b4a;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
img:hover {
  transform: scale(1.1);
}

p.result {
  color: black;
  font-weight: bold;

}

.main h2 {
  text-decoration: underline;
  text-shadow: 2px 2px 5px #607d8b;
}
