body {
  background-color: #549E94;
  color: #385450;
}

header, #descriptions, aside, footer, nav {
  border: solid 2px #523123;
  border-radius: 25px;
  margin: 15px;
  padding: 10px;
  background-color: #EBAE94;
}


h2, h1 {
  color: #523123;
}

a {
  color: white;
  text-decoration: none;
}

#home, #css, #float, #flex {
  background-color: #549E94;
  border-radius: 25px;
  margin: 5px;
  width: 95px;
  height: 40px;
  padding-top: 8px;
  display: inline-block;
  text-align: center;
  box-shadow: 2px 2px grey;
}

aside {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 250px;
  float: right;
  height: 300px;
}

nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 250px;
  height: 300px;
}

header{
  display: flex;
  justify-content: center;
  width: 1200px;
}

#descriptions {
  display: flex;
  width: 500px;
  flex-direction: column;
  float: right;
  position: absolute;
  bottom: 0px;
  left: 350px;
}

footer {
  display: flex;
  width: 1200px;;
  margin-top: 150px;
}

#home:hover {
  background-color: #385450;
}

#css:hover {
  background-color: #385450;
}

#float:hover {
  background-color: #385450;
}

#flex:hover {
  background-color: #385450;
}

img {
  width: 100px;
  margin: 20px;
}
